/*  Header
---------------------------------------------------------------------------- */

header {
  background-color: var(--color-purple);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--m);

  h1 {
    color: var(--color-white);
    font-size: var(--xxl);
    font-weight: var(--fw-extraLight);
  }

  p {
    color: var(--color-white);
    font-size: var(--xxl);
    font-weight: var(--fw-light);
  }

  ;

  p:after {
    content: "4All";
    color: var(--color-orange);
  }

  img {
    color: var(--color-white);
    border-radius: 30%;
    height: 50px;
    margin: var(--m);
    width: 50px;
  }
}

/*  slide-card-list
---------------------------------------------------------------------------- */

.slide-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--m);

  .horizontal-card {
    background-color: var(--color-green);
    display: flex;
    width: 100%;
    border-radius: 20px;
    height: 240px;

    img {
      border-radius: 20px 0 0 20px;
      height: 240px;
      object-fit: cover;
      width: 60%;
    }

    h2 {
      color: var(--color-white);
      font-size: var(--l);
      font-weight: var(--fw-bold);
      padding-right: var(--m);
    }

    p {
      color: var(--color-white);
      line-height: var(--lh-normal);
      font-weight: var(--fw-light);
      margin-top: var(--xs);
    }

    .card-content {
      display: flex;
      flex-direction: column;
      width: 40%;
      padding: var(--xs);

      a{
        text-decoration: none;
        display: flex;
        justify-content: center;
        color: var(--color-white);
        font-weight: var(--fw-bold);
        cursor: pointer;
      }
    }
  }
}


/*  Agenda Table
---------------------------------------------------------------------------- */

#first-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--m);

  .filter-wrapper {
    display: flex;
    align-items: center;
  }
  
  .filter-wrapper button {
    margin-right: 20px;
  }
}

