/*  Header
---------------------------------------------------------------------------- */

header {
  background-color: var(--color-purple);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--m);

  h1 {
    padding-top: var(--xxs);
    color: var(--color-white);
    font-size: var(--xxl);
    line-height: var(--lh-tight);
  }

  p {
    color: var(--color-white);
    font-size: var(--xxl);
    font-weight: var(--fw-light);
  }

  ;

  p:after {
    content: "4All";
    color: var(--color-orange);
  }

  img {
    filter: brightness(0) invert(1);
    border-radius: 30%;
    height: 50px;
    margin: var(--m);
    width: 50px;
  }
}

/*  slide-card-list
---------------------------------------------------------------------------- */

.slide-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--m);

  .horizontal-card {
    background-color: var(--color-green);
    display: flex;
    width: 100%;
    border-radius: 20px;
    height: 240px;

    img {
      border-radius: 20px 0 0 20px;
      height: 240px;
      object-fit: cover;
      width: 60%;
    }

    .card-content {
      background-color: var(--color-green);
        padding: var(--xl);
        display: flex;
        flex-direction: column;
        > * {
          color: var(--color-white);
        }
        h2 {
          font-size: var(--xl);
        }
        p {
          margin-top: var(--xs);
          font-weight: 300;
        }
        a {
          margin-top: auto;
          cursor: pointer;
        }
    }
  }
}


/*  Row above Table
---------------------------------------------------------------------------- */

.first-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--m);

  p{
    padding-left: var(--m);
  }

  .filter-wrapper {
    display: flex;
    align-items: center;
    padding-right: var(--m);
  }
  
  .filter-wrapper button {
    margin-right: 20px;
  }
}

/*  Agenda Table
---------------------------------------------------------------------------- */

.agenda-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1rem;
  background-color: transparent;

  tr {
    border-bottom: 2px solid var(--color-black);

    td {
      padding: 1rem;

      &.table-date {
        padding: 1rem 0;
        white-space: nowrap;
        width: 0;
      }

      &.table.title{
        padding: 1rem 0 1rem 1rem;
      }

      &.table-phase {
        ul {
          white-space: nowrap;
          width: 100%;
          text-align: right;
          margin: 0;
          padding: 0;
          
          li {
            display: inline-block;
            background-color: var(--color-red);
            padding: var(--xxs);
            margin-left: var(--xs);
            border-radius: var(--xxs);
            color: var(--color-white);
            font-size: var(--s);
          }
        }
      }

      &.table-lenght{
        white-space: nowrap;
        width: 0;
        font-size: var(--s);
        font-weight: var(--fw-light);
      }

      &.table-icon {
        white-space: nowrap;
        width: 0;
        padding: 0;
        padding-right: var(--m);
        img {
          width: 30px;
          vertical-align: middle;
        }
      }
    }
  }
}

@media (max-width: 885px) {
  .agenda-table {
    tr {
      td {
        &.table-phase {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 530px) {
  .agenda-table {
    tr {
      td {
        &.table-lenght {
          display: none;
        }
      }
    }
  }
}


/*  Sticky Menu
---------------------------------------------------------------------------- */

.sticky-menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: var(--l);
  margin-right: var(--l);
  background-color: var(--color-purple);
  padding: var(--m);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;

    img{
      width: 40px;
    }

    li{
      filter: brightness(0) invert(1);
      display: flex;
      flex-direction: column;
      align-items: center;

      p{
        font-size: var(--m);
      }
    }
  }
}