@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/RobotoCondensed-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

*,
body,
html {
  font-family: "Roboto", sans-serif;
  color: var(--color-black);
}
