:root{
  --ff-icons: material-icons;

  --fw-extraLight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --lh-tight: 100%;
  --lh-normal: 130%;
  --lh-loose: 150%;

  --base-font-size: calc(1rem * 0.08);

  --xxxs: 5px;
  --xxs: 8px;
  --xs: 10px;
  --s:  12px;
  --m: 16px;
  --l: 20px;
  --xl: 24px;
  --xxl: 32px;
  --xxxl: 40px;

  --color-red: #F21F30;
  --color-yellow: #F5B120;
  --color-orange: #F9622B;
  --color-purple: #641E50;
  --color-beige: #FEF9F2;
  --color-green: #97A626;

  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-grey: #B3ADA5;
}